<strong>Olá, {{ deliveryMan }}</strong>
<p>Há uma nova encomenda para você:</p>
<p>
  <strong>Cliente: </strong> {{ client }} <br/>
  <strong>Produto: </strong> {{ product }} <br/>
  <strong>Endereço: </strong> {{ address }} <br/>
  <strong>CEP: </strong> {{ zipCode }} <br/>
  <br/>
  <small>
    O produto está disponível para retirada.
  </small>

</p>
